<main>
  <section class="window">
    <small class="small">Insomnia Tips</small>
    <h2 class="title_window">Looking Through A Window</h2>
    <p class="text">
      Donec accusam, nulla ut voluptat portttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamis semper sodales rutrum.
    </p>
    <p class="buttom_go">Go</p>
  </section>

  <section class="purchase__article" id="purchase">
    <h2 class="purchase__title">3 Reasons To Purchase</h2>
    <article class="purchase__article--one">
      <h3 class="purchase__title--one">Ud sed metus</h3>
      <p class="content">Lorem ipsum dolor sit amet, comsecteur</p>
    </article>
    <article class="purchase__article--two">
      <h3 class="purchase__title--two">Curabitur ac erat</h3>
      <p class="content">Mauris mattis urna quis lorem molestie</p>
    </article>
    <article class="purchase__article--three">
      <h3 class="purchase__title--three">Morbi dictum</h3>
      <p class="content">Aliquam in dolor et dolor tincidunt</p>
      <div class="buttom_scroll">More reasons</div>
    </article>
  </section>
</main>
