.footer {
  background-color: #304268;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}
.nav__services {
  width: 300px;
  text-align: center;
}
.nav__social {
  width: 300px;
  text-align: center;
}
.nav__services--list {
  list-style: none;
  margin-bottom: 30px;
}
.nav__social--list {
  list-style: none;
  margin-bottom: 30px;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll {
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 60px;
  transform: translateY(-20px);
}
.copyright {
  margin-bottom: 45px;
  text-align: center;
}
