.footer {
  background-color: #304268;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}
.nav__services--list {
  list-style: none;
}
.nav__social--list {
  list-style: none;
}
